# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Android Gradle build & cache
.gradle/
android/.gradle/
android/app/build/
android/build/
android/captures/
*.apk
*.aab
*.keystore
local.properties

# Misc
.DS_Store
*.pem
serviceAccountKey.json
*.serviceAccountKey.json

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
